*{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #EAE7DC;
  font-size: 20px;
  color: #333;
}

#container{
  display:flex;
  flex-wrap:wrap;
}

/* columns mobile */
#container > *{
  width: 100%;
  padding: 1rem;
}

/* background colors */
#container > .header {background:#EAE7DC}
#container > .main-content {background:#EAE7DC}
#container > .left-sidebar {background:#D8C3A5}
#container > .right-sidebar {background:#D8C3A5}
#container> .footer {background:#72c2f1}


/* desktop breakpoint */
@media (min-width:1024px) {
  #container > .header {
      order:-2; /* header first */
  }
  #container > .left-sidebar {
      /* left sidebar second (first in second row) */
      order:-1; 
  }
  #container > .main-content {
      width:50%;
  }
  #container > .right-sidebar {
      width:50%;
  }
}

.content-header-controls{
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20px;
  justify-content: space-between;
}

.right-sidebar{
  max-height: 760px;
  overflow-y: scroll;
  border-color: rgba(#000, .2);
  border-radius: 5px;
}

#controls-div{
  display: grid;
  grid-template-columns: auto auto;
}

button{
  margin: 0 10px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.highlight{
  background-color: #da904b;
}

.error{
  border: 1px solid red;
  font-size: 20px;
  margin-top: 20px;
}

#textarea-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#left-sidebar-tabs{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: stretch;
  align-items: stretch;
}

#dictionary-tab-content{
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin: 1rem;
}

/*
  todo: insert blurred border / opaque border behind the text
*/