*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1;
  font-size: 20px;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#output{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 10px;
  row-gap: 20px;
  margin-top: 20px;
  max-height: 600px;
  border: 1px solid black;
  overflow-y: scroll;
}

#controls-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button{
  margin: 0 10px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.highlight{
  background-color: #da904b;
}

/* offset border behind the text
  insert blurred border / opaque border behind the text
*/
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
  border-right: 1px solid black;
}