*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1;
  font-size: 20px;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#output{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-height: 30%;
  max-width: 30%;
  border: 1px solid black;
  overflow-y: scroll;
}